/*
Author: Catherine Roberts
*/
body{
	font-family: Georgia, Times, "Times New Roman", serif;
	color:#3C4037;
	background-color: #FFFEF5;
}
#header{
	height:400px;
	width:1000px;
	margin-right: auto;
	margin-left: auto;
}
#header_image {
	position: relative;
	z-index: 1;
}
#title_byline {
	z-index: 100;
	position:absolute;
	top:300px;
	width:1000px;
	margin-right: auto;
	margin-left: auto;
}
#title{
	width:500px;
	height:100px;
	top:30px;
	left:50px;
	position:absolute;
}
#byline{
	float:right;
	position: relative;
	top:53px;
	right:50px;
}

#nutgraf_navigation{
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	margin-bottom: 50px;
	margin-top: 30px;
}
#nutgraf{
	margin-bottom: 50px;
	margin-right: auto;
	margin-left: auto;
	width: 660px;
}

#navigation{
	width:660px;
	height:80px;
	margin-right: auto;
	margin-left:auto;
}
#navigation ul{
	list-style-type: none;
	left:0;
	margin:0;
	padding:0;
}
.game_icon{
	width:200px;
	height:150px;
	float:left;
	margin-left: 10px;
	margin-right: 10px;	
}
.game_icon p{
	text-align: center;
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
	color: #660055;
}
.icon_image{
	width:60px;
	margin: 0 auto;
	position: relative;
	left:70;
}
#body{
	width: 660px;
	margin-right: auto;
	margin-left: auto;
}
.profile{
	position: relative;
	width:660px;
	height: 400px;
	margin-bottom: 30px;
}
.profile_text{
	float:left;
}
.profile_video{
	width:400px;
	height:315px;
	float:right;
	margin-left: 15px;
	margin-bottom: 15px;
}
h1{
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
	color: #ffffff;
	font-size: 40px;
	font-weight: normal;
}
h2{
	font-family: Georgia, Times, "Times New Roman", serif;
	color: #ffffff;
	font-weight: normal;
	font-style: italic;
}
h3{
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
	color: #660055;
	font-size:25px;
}
#nutgraf p{
	font-family: Georgia, Times, "Times New Roman", serif;
	text-align: center;
	font-style: italic;
	font-weight: 100;
	color: #272a35;
}
