/*
Author: Catherine Roberts
*/
body{
	font-family: Georgia, Times, "Times New Roman", serif;
	color:#3C4037;
	background-color: #FFFEF5;
}
#header{
	height:400px;
	width:1000px;
	margin-right: auto;
	margin-left: auto;
}
#header_image {
	position: relative;
	z-index: 1;
}
#title_byline {
	z-index: 100;
	position:absolute;
	top:300px;
	width:1000px;
	margin-right: auto;
	margin-left: auto;
}
#title{
	width:500px;
	height:100px;
	top:30px;
	left:50px;
	position:absolute;
}
#byline{
	float:right;
	position: relative;
	top:53px;
	right:50px;
}

#nutgraf_navigation{
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	margin-bottom: 50px;
	margin-top: 30px;
}
#nutgraf{
	margin-bottom: 50px;
	margin-right: auto;
	margin-left: auto;
	width: 660px;
}

#navigation{
	width:660px;
	height:80px;
	margin-right: auto;
	margin-left:auto;
}
#navigation ul{
	list-style-type: none;
	left:0;
	margin:0;
	padding:0;
}
.game_icon{
	width:200px;
	height:150px;
	float:left;
	margin-left: 10px;
	margin-right: 10px;	
}
.game_icon p{
	text-align: center;
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
	color: #660055;
}
.icon_image{
	width:60px;
	margin: 0 auto;
	position: relative;
	left:70;
}
#body{
	width: 660px;
	margin-right: auto;
	margin-left: auto;
}
.profile{
	position: relative;
	width:660px;
	height: 400px;
	margin-bottom: 30px;
}
.profile_text{
	float:left;
}
.profile_video{
	width:400px;
	height:315px;
	float:right;
	margin-left: 15px;
	margin-bottom: 15px;
}
h1{
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
	color: #ffffff;
	font-size: 40px;
	font-weight: normal;
}
h2{
	font-family: Georgia, Times, "Times New Roman", serif;
	color: #ffffff;
	font-weight: normal;
	font-style: italic;
}
h3{
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
	color: #660055;
	font-size:25px;
}
#nutgraf p{
	font-family: Georgia, Times, "Times New Roman", serif;
	text-align: center;
	font-style: italic;
	font-weight: 100;
	color: #272a35;
}

/* Slider */
.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}

.carousel_catherine{
	width:800px;
	height:550px;
	margin-right: auto;
	margin-left:auto;
	float: left;

}
